<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>bluetoothDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>49CE5AA31CC7505000523A3C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>49CE5ABC1CC7505000523A3C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>49CE5AC71CC7505000523A3C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
